
.modalContainer {
   visibility: hidden;
   opacity: 0.0;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   background: rgba(255, 255, 255, 0.6);
   z-index: 100;
   transition: all 0.4s;
}

.modalContainer.active {
   visibility: visible;
   opacity: 1.0;
}

.modal {
   position: relative;
   border: 2px solid var(--ncsu-dark-gray);
   border-radius: 10px;
   width: 500px;
   background: rgba(240, 240, 240, 0.7);
   padding: 20px;
}

.modal .closeButton {
   position: absolute;
   top: 0px;
   right: 10px;
   color: var(--ncsu-dark-gray);
   text-decoration: none;
   font-size: 24px;
   cursor: pointer;
}

.modal .confirmButton {
   position: absolute;
   bottom: 10px;
   right: 10px;
   padding: 6px 15px;
   border: none;
   border-radius: 6px;
   font-weight: bold;
   background: #cacaca;
   cursor: pointer;
}
.modal .confirmButton:hover { background: #aaa; }

.modal .respondYesButton, 
.modal .respondNoButton {
   padding: 6px 15px;
   border: none;
   border-radius: 6px;
   font-weight: bold;
   background: #cacaca;
   cursor: pointer;
}
.modal .respondYesButton:hover,
.modal .respondNoButton:hover {
   background: #aaa;
}

.modal .respondYesButton {
   position: absolute;
   bottom: 10px;
   right: 70px;
}

.modal .respondNoButton {
   position: absolute;
   bottom: 10px;
   right: 10px;
}

.modal h1 {
   margin: 0px;
   padding: 0px;
   padding-bottom: 6px;
   border-bottom: 1px dotted var(--ncsu-dark-gray);
   color: var(--ncsu-light-red);
}

.modal p {
   margin-bottom: 0px;
}

.modal p:last-child {
   margin-bottom: 28px;
}