@font-face {
   font-family: 'Roboto';
   src: url('assets/fonts/Roboto-Regular.ttf');
}
@font-face {
   font-family: 'Roboto';
   src: url('assets/fonts/Roboto-Bold.ttf');
   font-weight: 700;
}

body, html {
   margin: 0px;
   padding: 0px;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   font-family: 'Roboto', sans-serif;
   color: var(--color-black);
   width: 100vw;
   height: 100vh;
   text-decoration: none;
   overflow-x: hidden;
}

/* ----- globals ----- */

:root {
   --color-black: #1e1e1e;

   --ncsu-dark-red: #900;
   --ncsu-light-red: #c00;
   --ncsu-dark-gray: #333;
   --ncsu-mid-gray: #555;
   --ncsu-light-gray: #cacaca;

   --content-max-width: 1000px;
   --content-fallback-width: 700px;

   --main-spacing: 20px;
   --main-padding: 20px;
}

/* remove text selection */
.noselect {
   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.noscrollbar { scrollbar-width: none; -ms-overflow-style: none; }
.noscrollbar::-webkit-scrollbar { display: none; }

/* ----- layout troubleshooting (uncomment to view all borders) ----- */
/* * {
   background: #000 !important;
   color: #0f0 !important;
   outline: solid #f00 1px !important;
} */

.mainLayout {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

.mainContainer {
   width: var(--content-max-width);
   margin: 0 auto;
   flex: 1;
}

.reversiContainer {
   display: flex;
   flex-wrap: wrap;
   height: 100%;
   gap: var(--main-spacing);
   padding: var(--main-spacing) 0px; /* main spacing, still for grid gap */
   box-sizing: border-box;

   --display-default-width: calc( 9 / 13 * (var(--content-max-width) - var(--main-spacing)));
   --toolbar-default-width: calc( 4 / 13 * (var(--content-max-width) - var(--main-spacing)));
   --display-width: var(--display-default-width);
   --toolbar-width: var(--toolbar-default-width);
}

@media only screen and (max-width: 1000px) {
   .mainContainer { width: var(--content-fallback-width); }
   .reversiContainer {
      --display-width: var(--content-fallback-width);
      --toolbar-width: var(--content-fallback-width);
      width: var(--content-fallback-width);
      flex-direction: column-reverse;
   }
}

@media only screen and (max-width: 700px) {
   .mainContainer {
      --content-fallback-width: min(100vw, 500px);
      width: var(--content-fallback-width);
   }
   .reversiContainer {
      --display-width: var(--content-fallback-width);
      --toolbar-width: var(--content-fallback-width);
      width: var(--content-fallback-width);
   }
}