
.gameBoard {
   display: grid;
   grid-template-columns: repeat(8, 1fr);
   grid-gap: -1px;
   width: 328px;
   height: 328px;
}

.gameSquare {
   background: green;
   width: 40px;
   height: 40px;
   border: 1px solid black;
   margin-left: -1px;
   margin-bottom: -1px;
}

.gamePiece {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   margin: 5px;
}

.gamePiece.black { background: black; transform: scale(1, 1) }
.gamePiece.white { background: white; transform: scale(1,-1) }
.gamePiece.black.flip { transition: background 0.5s, transform 0.5s; }
.gamePiece.white.flip { transition: background 0.5s, transform 0.5s; }

.gameSquare.place {
   z-index: 10;
   border: 1px solid #caca33;
   /* box-shadow: inset 0 0 10px #dada44, 0 0 10px #dada44; */
   /* box-shadow: inset 0 0 10px #dada44; */
   box-shadow: 0 0 10px #dada44;
}

/* .gamePiece.black.place {
   border: 2px solid #00dada;
   box-sizing: border-box;
}
.gamePiece.white.place {
   border: 2px solid #da00da;
   box-sizing: border-box;
} */

.gameBoardContainer {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px;
}

/* ----- mini gameboard pieces ----- */
.gameListItem .gameBoardContainer { padding: 0px; }
.gameListItem .gameBoard { width: 136px; height: 136px; }
.gameListItem .gameSquare { width: 16px; height: 16px; }
.gameListItem .gamePiece {
   width: 12px;
   height: 12px;
   margin: 2px;
   display: inline-block;
}