
.gameBoard {
   display: grid;
   grid-template-columns: repeat(8, 1fr);
   border: 1px solid black;
   box-shadow: 0 0 10px #333;
}

.gameSquare {
   background: green;
   width: 40px;
   height: 40px;
   border: 1px solid black;
   position: relative;
}

.gamePiece {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   position: absolute;
   top: 5px;
   left: 5px;
}

.gamePiece.black {
   background: linear-gradient( rgb(0, 0, 0), rgb(50, 50, 50) );
   box-shadow: 0 0 5px #333;
   transform: scale(1, 1);
}
.gamePiece.black.top {
   width: 24px;
   height: 24px;
   top: 8px;
   left: 8px;
   background: linear-gradient( rgb(25, 25, 25), rgb(100, 100, 100) );
   transform: scale(1, 1);
}

.gamePiece.white {
   background: linear-gradient( rgb(125, 125, 125), rgb(255, 255, 255) );
   box-shadow: 0 0 5px #333;
   transform: scale(1,-1);
}
.gamePiece.white.top {
   width: 24px;
   height: 24px;
   top: 8px;
   left: 8px;
   background: linear-gradient( rgb(255, 255, 255), rgb(175, 175, 175) );
   transform: scale(1,-1);
}

.gamePiece.black.flip, .gamePiece.black.flip.top { transition: background 0.5s, transform 0.5s; }
.gamePiece.white.flip, .gamePiece.white.flip.top { transition: background 0.5s, transform 0.5s; }

.gameSquare.place {
   z-index: 10;
   animation: highlightFade 2s ease-in;
}

@keyframes highlightFade {
   from {
      border: 1px solid #caca33;
      box-shadow: inset 0 0 10px #dada44;
   }
   to {
      border: 1px solid black;
      box-shadow: inset 0 0 10px rgba(218, 218, 68, 0);
   }
}

.gameBoardContainer {
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px;
}

/* ----- mini gameboard pieces ----- */
.gameListItem .gameBoardContainer { padding: 0px; }
.gameListItem .gameBoard {
   box-shadow: none;
   border-left: none;
   border-top: none;
}
.gameListItem .gameSquare { 
   width: 16px; 
   height: 16px;
   border-right: none;
   border-bottom: none;
}
.gameListItem .gamePiece {
   width: 12px;
   height: 12px;
   position: static;
   margin: 2px;
   display: inline-block;
}
.gameListItem .gamePiece.black { background: linear-gradient( rgb(50, 50, 50), rgb(0, 0, 0)) }
.gameListItem>p>.gamePiece { box-shadow: none; }
.gameListItem .gamePiece.top { 
   display: none;
   width: 8px;
   height: 8px;
   top: 4px;
   left: 4px;
 }