
.gameSelectContainer {
   display: flex;
   flex-direction: column;
   gap: var(--main-spacing);
   width: var(--display-width);
   align-items: center;
}

.gameSelect {
   display: flex;
   flex-wrap: wrap;
   gap: var(--main-spacing);
   width: var(--display-width);

   --gameSize: calc( (var(--display-width) - 2 * var(--main-spacing)) / 3);
}

@media only screen and (max-width: 700px) {
   .gameSelect{
      --gameSize: calc( (var(--display-width) - var(--main-spacing)) / 2);
   }
}

.gameSelect > .game {
   width: var(--gameSize);
   height: var(--gameSize);
   box-sizing: border-box;
   padding: var(--main-padding);
   border: 3px solid var(--color-black);
   border-radius: 20px;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: 30px;
   font-weight: bold;
   cursor: pointer;
   position: relative;
   text-align: center;
}

.game > .liveMatch,
.game > .replayMatch {
   font-size: 18px;
   position: absolute;
   bottom: -6px;
}

.game > .liveMatch { color: green; }
.game > .replayMatch { color: var(--ncsu-light-red); }
