
.activeGame {
   height: 100%;
   max-height: 700px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.activeGame>p { text-align: center; }

.playerNameText { font-size: 24px; font-weight: bold; }
.playerVsText { padding: 0px 12px; }