
.toolbarArea {
   width: var(--toolbar-width);
   box-sizing: border-box;
   display: grid;
   grid-template-rows: auto auto 1fr;
   background: var(--ncsu-light-gray);
   border-radius: var(--main-spacing);
   padding: var(--main-padding);
}

.toolbarArea>p:first-child{
   text-align: center;
   margin: 0px;
   padding: 0px;
   padding-bottom: 12px;
   border-bottom: 1px dotted var(--ncsu-dark-gray);
}


/* ----- username / info area ----- */
.toolbarArea .infoContainer { height: 200px; }
.infoContainer>.gameText {
   background: #bababa;
   padding: 12px;
}
.infoContainer>.gameText>p:first-child {
   text-align: center;
   border-bottom: 1px dotted var(--ncsu-dark-gray);
   margin: 0px;
   padding: 0px;
}

.toolbarArea form {
   display: grid;
   grid-template-columns: 1fr auto;
   grid-column-gap: 6px;
}

.toolbarArea form>input { color: var(--ncsu-dark-gray); width: 96%; }
.toolbarArea form>input:not(.active) { color: #999; }
.toolbarArea form>button { color: var(--ncsu-dark-gray); }

.gameHistory {
   display: grid;
   grid-template-rows: auto 1fr;
}

.gameListContainer {
   position: relative;
   height: auto;
}

.gameList {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   overflow: auto;
}

.gameList .unavailable { text-align: center; padding-top: 20px; }

/* ----- game select ----- */
.historySelectContainer {
   border-bottom: 1px solid #8a8a8a; 
}

.historySelectButton {
   display: inline-block;
   padding: 6px 12px;
   background: #bababa;
   font-size: 13px;
   font-weight: bold;
   transition: all 0.2s;
}

.historySelectButton.active {
   background: #8a8a8a;
}

.historySelectButton:not(.active):hover {
   background: #aaaaaa;
}

/* ----- game list item ----- */
.gameListItem {
   background: #aaaaaa;
   padding: 2px 12px;
   padding-bottom: 12px;
   display: grid;
   grid-template-columns: 1fr 1fr;
   height: 158px;
   max-height: 158px;
   transition: all 0.25s;
   overflow: hidden;
   cursor: default;
}

.gameListItem:nth-child(2n) {
   background: #bababa;
}

.gameListItem:not(.active) {
   max-height: 10px;
}

.gameListItem p {
   margin: 0px;
   padding: 0px;
}

.gameListItem .info {
   display: flex;
   flex-direction: column;
   height: 100%;
   flex: 1;
   box-sizing: border-box;
   padding-top: 20px;
   font-size: 14px;
}

.gameListItem .info>p.viewMatch {
   flex: none; 
   color: #5f5f5f;
   cursor: not-allowed;
   margin-top: auto;
}