
.toolbarArea {
   width: var(--toolbar-width);
   box-sizing: border-box;
   background: var(--ncsu-light-gray);
   border-radius: var(--main-spacing);
   padding: var(--main-padding);
}

.toolbarFlexContainer {
   display: flex;
   flex-direction: column;
}

@media only screen and (max-width: 1000px) {
   .toolbarFlexContainer {
      margin-top: var(--main-spacing);
      flex-direction: row; 
      justify-content: space-around;
   }
}

@media only screen and (max-width: 700px) {
   .toolbarFlexContainer {
      /* margin-top: var(--main-spacing); */
      flex-direction: column; 
      justify-content: space-around;
      align-items: center;
   }
}

.toolbarArea>p:first-child{
   text-align: center;
   margin: 0px;
   padding: 0px;
   padding-bottom: 12px;
   border-bottom: 1px dotted var(--ncsu-dark-gray);
}


/* ----- username / info area ----- */
.toolbarArea .infoContainer { 
   height: 200px; 
   max-width: calc(var(--toolbar-default-width) - 2 * var(--main-padding));
}

.infoContainer>.gameText {
   background: #bababa;
   padding: 12px;
}
.infoContainer>.gameText>p:first-child {
   text-align: center;
   border-bottom: 1px dotted var(--ncsu-dark-gray);
   margin: 0px;
   padding: 0px;
}

.idRequest {
   width: 100%;
   max-width: calc(var(--toolbar-default-width) - 2 * var(--main-padding));
   box-sizing: border-box;
   display: flex;
   gap: 6px;
}

.idRequest input {
   width: 150px;
   flex: 1;
}

.idRequest button {
   padding: 0 6px;
   border: none;
   cursor: pointer;
   background: #aaa;
   flex: 0;
}

.idRequest input:not(.active) { color: #999; }
.idRequest button:hover { background: #8a8a8a; }

.gameHistory {
   display: grid;
   grid-template-rows: auto 1fr;
   min-height: 200px;
   width: calc(var(--toolbar-default-width) - 2 * var(--main-padding));
}

.gameListContainer {
   position: relative;
   height: auto;
}

.gameList {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   overflow: auto;
}

.gameList .unavailable { text-align: center; padding-top: 20px; }

/* ----- game select ----- */
.historySelectContainer {
   border-bottom: 1px solid #8a8a8a; 
}

.historySelectButton {
   display: inline-block;
   padding: 6px 12px;
   background: #bababa;
   font-size: 13px;
   font-weight: bold;
   transition: all 0.2s;
}

.historySelectButton.active {
   background: #8a8a8a;
}

.historySelectButton:not(.active):hover {
   background: #aaaaaa;
}

/* ----- game list item ----- */
.gameListItem {
   background: #aaa;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   width: 100%;
}

.gameListItem:nth-child(2n) { background: #bababa; }

.gameListItemHeader {
   display: flex;
   width: 100%;
}

.gameListItemBody {
   transition: all 0.25s;
   max-height: 150px;
   display: flex;
   overflow: hidden;
}

.gameListItem:not(.active) .gameListItemBody { max-height: 0px; }

.gameListItemHeader > div,
.gameListItemBody > div { 
   width: 50%;
   box-sizing: border-box;
   padding: 4px 8px;
}

.gameListItemBody > div { padding-bottom: 8px; }

.gameListItemBody .info {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   font-size: 14px;
   height: 100px;
}

.gameListItemBody .info .viewMatch {
   margin-top: auto;
   color: #5f5f5f;
   cursor: not-allowed;
}