
/* ----- main toolbar ----- */
.toolbarArea {
   width: var(--toolbar-width);
   box-sizing: border-box;
   background: var(--ncsu-light-gray);
   border-radius: var(--main-spacing);
   padding: var(--main-padding);
   display: flex;
   flex-direction: column;
}

.toolbarFlexContainer {
   display: flex;
   flex-direction: column;
   flex: 1;
}

@media only screen and (max-width: 1000px) {
   .toolbarFlexContainer {
      margin-top: var(--main-spacing);
      gap: var(--main-spacing);
      flex-direction: row; 
      justify-content: space-around;
   }
}

@media only screen and (max-width: 700px) {
   .toolbarFlexContainer {
      gap: 0;
      flex-direction: column; 
      justify-content: space-around;
      align-items: center;
   }
}

.toolbarArea>p:first-child{
   text-align: center;
   margin: 0px;
   padding: 0px;
   padding-bottom: 12px;
   border-bottom: 1px dotted var(--ncsu-dark-gray);
}


/* ----- username / info area ----- */
.toolbarArea .infoContainer { 
   height: 200px; 
   max-width: calc(var(--toolbar-default-width) - 2 * var(--main-padding));
}

.infoContainer>.gameText {
   background: #bababa;
   padding: 12px;
}
.infoContainer>.gameText>p:first-child {
   text-align: center;
   border-bottom: 1px dotted var(--ncsu-dark-gray);
   margin: 0px;
   padding: 0px;
}

.idRequest {
   width: 100%;
   max-width: calc(var(--toolbar-default-width) - 2 * var(--main-padding));
   box-sizing: border-box;
   display: flex;
   gap: 6px;
}

.idRequest input {
   width: 150px;
   flex: 1;
}

.idRequest button {
   padding: 0 6px;
   border: none;
   cursor: pointer;
   background: #aaa;
   flex: 0;
}

.idRequest input:not(.active) { color: #999; }
.idRequest button:hover { background: #8a8a8a; }