
/* ----- index.js ----- */
.header h1 {
   margin: 0px;
   padding: 0px;
   padding-top: 12px;
   font-size: 36px;
   font-weight: bold;
   color: var(--ncsu-dark-red);
}

.header h2 {
   margin: 0px;
   padding: 0px;
   font-size: 16px;
   font-weight: bold;
   padding: 12px 60px;
   padding-top: 6px;
}

/* ----- navbar.js ----- */
.navbar {
   background: var(--ncsu-dark-gray);
}
 
.navbar * div {
   display: inline-block;
   margin: 0px;
   padding: 8px 16px;
   width: 75px;
   text-align: center;
   color: white;
   transition: all 0.2s;
   cursor: pointer;
}

.navbar .active {
   background: var(--ncsu-light-red);
}

.navbar * div:hover:not(.active) {
   background: var(--ncsu-dark-red);
}